NODE_ENV=development
PORT=3002

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=doctorhub
MYSQL_PASSWORD=doctorhub_password
MYSQL_DATABASE=doctorhub

ORACLE_USER=oracle_user
ORACLE_PASSWORD=oracle_password
ORACLE_CONNECTION_STRING=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=twoj-host)(PORT=1521))(CONNECT_DATA=(SID=twoj_sid)))